{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Genres</h3>

<div class="row"></div>
    <div class="col s12 center-align">
        <a href="{{ url_for('add_genre') }}" class="btn-large pink darken-2">
            Add Genre <i class="fa-solid fa-square-plus"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for genre in genres %}
    <div class="col s12 m6 l3">
      <div class="card pink darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ genre.genre_name }}</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('edit_genre', genre_id=genre.id) }}" class="btn green accent-4">Edit</a>
          <a href="#" class="btn red">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}