{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome</h1>
    <form action="{{ url_for('login') }}" method="POST">
        <input 
            type="text"
            name="username"
            placeholder="username"
            class="input-field"
            required
        >
        <input 
            type="password"
            name="password"
            placeholder="password"
            class="input-field"
            required
        >
        <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="fa-solid fa-user"></i>
        </button>
    </form>
    <br>
    {% for mesg in get_flashed_messages() %}
      <p>{{ mesg }}</p>
    {% endfor %}
    <p> Not yet registered</p>
    <a href="{{ url_for('register')}}" class="waves-effect waves-light btn">Register
        <i class="fa-solid fa-user-plus"></i>
    </a>
</div>
{% endblock %}